---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

interface Props {
  entry: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout entry={entry}>
  <Header/>
  <article class="blog-padding mx-auto py-8">
 <div class="max-w-3xl mx-auto text-xl leading-relaxed text-gray-800 space-y-6">
  <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
  <p class="text-gray-500">
    {new Date(entry.data.pubDate).toLocaleDateString("pt-BR")}
  </p>
  <img src={entry.data.heroImage} alt={entry.data.title} class="rounded-xl my-4" />
  <p class="text-lg text-gray-700">{entry.data.description}</p>
  <hr class="my-6" />

  <div class="whitespace-pre-line">
    {entry.body}
  </div>
</div>


  </article>
  <Footer/>
</Layout>


